html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header .top-banner {
  background-color: black;
  display: flex;
  justify-content: center;
}

.top-banner .top-container {
  width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-banner img {
  height: 1.5rem;
  margin: 0.66rem 0.5rem;
  max-width: 100%;
  display: block;
}

.top-banner span {
  margin: 0.5rem;
}

.top-img {
  background-image: url(../Images/moto.jpeg);
  width: 100%:
  height: 25rem;
  display: flex;
}

.title-banner {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.title-banner h4 {
  font-weight: bold;
  margin: 0.25rem;
  display: inline-block;
}

.title-banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem;
  display: inline-block;
}

.header-nav {
  background-color: firebrick;
  text-align: center;
}

.header-nav .buttons {
  display: inline-flex;
  width: 960px;
  justify-content: space-between;
}

.buttons span {
  margin: 0.75rem;
}

.content {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.content .products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products .product-box {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  margin: 3rem 0;
  max-width: 30%;
}

.product-box img {
  width: auto;
  max-height: 9rem;
  margin: 2rem;
}

.product-box span {
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

.content .contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contact .contact-info {
  margin: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.contact-info .contact-type {
  background-color: black;
  padding: 1rem 2rem;
}

.contact-info .contact-details {
  color: black;
  padding: 0.25rem;
}
